@import "./vars";

// color
@mixin BrandSecondGradient() {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), $BrandSecond;
  background-blend-mode: soft-light, normal;
}

// display
@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-none-center() {
  display: flex;
  align-items: center;
}

@mixin flex-center-center() {
  @include flex-none-center;
  justify-content: center;
}

@mixin flex-between-center() {
  @include flex-none-center;
  justify-content: space-between;
}

// position
@mixin absolute-top-center($top: 0) {
  position: absolute;
  margin: auto;
  top: $top;
  left: 0;
  right: 0;
}

@mixin absolute-left-center($left: 0) {
  position: absolute;
  margin: auto;
  left: $left;
  top: 0;
  bottom: 0;
}

// border
@mixin border-none() {
  border: none;
}

@mixin border-left($color: $Border, $size: 1px, $style: solid) {
  border-left: $size $style $color;
}

@mixin border-right($color: $Border, $size: 1px, $style: solid) {
  border-right: $size $style $color;
}
