@import "./vars";

@function calc-size($min, $max, $width-min, $width-max) {
  @return calc(#{$max + rem} - (#{$width-max + px} - 100vw) * #{($max - $min) * $font-size-num / ($width-max - $width-min)});
}

// color
@mixin BrandBlueGradient() {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), $BrandBlue;
  background-blend-mode: soft-light, normal;
}

// display
@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-none-center() {
  display: flex;
  align-items: center;
}

@mixin flex-center-center() {
  @include flex-none-center;
  justify-content: center;
}

@mixin flex-between-center() {
  @include flex-none-center;
  justify-content: space-between;
}

// position
@mixin absolute-top-center($top: 0) {
  position: absolute;
  margin: 0 auto;
  top: $top;
  left: 0;
  right: 0;
}

@mixin absolute-left-center($left: 0) {
  position: absolute;
  margin: auto 0;
  left: $left;
  top: 0;
  bottom: 0;
}

// border
@mixin border-left($color: $Border, $size: 1px, $style: solid) {
  border-left: $size $style $color;
}

@mixin border-right($color: $Border, $size: 1px, $style: solid) {
  border-right: $size $style $color;
}
