// colors
$BrandFirst: #FFCC00;
$BrandFirstSecondary: #FBBB05;
$BrandSecond: #48B5E2;
$BrandSecondSecondary: #E2F7FF;

$Background: white;
$Border: rgba(black, 0.05);
$Shadow: rgba(black, 0.05);
$Text: #1D1D1D;
$TextSecondary: #4D4D4D;
