@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "./vars", "./mixins";

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: $font-size;
}

body {
  @include flex-column;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: $Text;
  font-size: .875rem;
  font-weight: 400;
}

button, input {
  font-family: "Montserrat", sans-serif;
  color: $Text;
  font-size: .875rem;
  font-weight: 400;
  outline: none;
  background: none;
  border: none;
}

button {
  cursor: pointer;
  font-weight: 700;
}

input {
  padding: .5rem 1.25rem;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

.container {
  width: 100%;
  min-width: 380px;
  max-width: 768px;
  padding: 0 3.75rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 calc-size(1.25, 3.75, $min-site-width-num, $max-site-width-num);
  }

  @media (max-width: 380px) {
    padding: 0 1.25rem;
  }
}
